<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/iris.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/backup/iris.%d{yyyy-MM}.log.gz</fileNamePattern>
            <maxHistory>4</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d | %5p  | %-4relative [%thread] | %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <property resource="application-${environment}.properties" />

    <if condition='isDefined("graylog.server")'>
        <then>
            <appender name="gelf" class="de.appelgriepsch.logback.GelfAppender">
                <server>${graylog.server}</server>
                <includeLevelName>true</includeLevelName>
                <additionalFields>application=IRIS,environment=${environment},facility=Tomcat,location=Central</additionalFields>
            </appender>
        </then>
    </if>

    <appender name="gelf" class="de.appelgriepsch.logback.GelfAppender">
        <server>${graylog.server}</server>
        <additionalFields>application=IRIS,environment=${environment},facility=Tomcat,location=Central</additionalFields>
    </appender>

    <!-- Application Loggers -->
    <logger name="net.contargo">
        <level value="info" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework">
        <level value="info" />
    </logger>

    <logger name="org.hibernate">
        <level value="info" />
    </logger>

    <logger name="com.mangofactory.swagger">
        <level value="error" />
    </logger>

    <if condition='isDefined("graylog.server")'>
        <then>
            <root>
                <level value="info" />
                <appender-ref ref="gelf" />
                <appender-ref ref="file" />
            </root>
        </then>
        <else>
            <root>
                <level value="info" />
                <appender-ref ref="file" />
            </root>
        </else>
    </if>

</configuration>
