<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <filter class="ch.qos.logback.access.filter.CountingFilter">
        <name>countingFilter</name>
    </filter>

    <appender name="accessfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/iris-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/backup-access/iris-access.%d{yyyy-MM}.log.gz</fileNamePattern>
            <maxHistory>4</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>combined</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%n%fullRequest%n%fullResponse%n</pattern>
        </encoder>
    </appender>

    <appender name="reqrespfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/iris-req-resp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/backup-access/iris-req-resp.%d{yyyy-MM}.log.gz</fileNamePattern>
            <maxHistory>4</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%n%fullRequest%n%fullResponse%n</pattern>
        </encoder>
    </appender>

    <appender-ref ref="accessfile" />
    <appender-ref ref="reqrespfile" />
    <appender-ref ref="console" />
</configuration>