<div class="control-group">
    <label for="bargeDieselDistance" class="control-label">Barge km</label>

    <div class="controls">
        <input id="bargeDieselDistance" name="bargeDieselDistance" class="comma-replacement-aware"
               title="Barge km" type="text" value="{{barge}}">
    </div>
</div>

<div class="control-group">
    <label for="railDieselDistance" class="control-label">Rail Diesel km</label>

    <div class="controls">
        <input id="railDieselDistance" name="railDieselDistance" class="comma-replacement-aware"
               title="Rail Diesel km" type="text" value="{{raildiesel}}">
    </div>
</div>

<div class="control-group">
    <label for="railElectricDistance" class="control-label">Rail Electrical km</label>

    <div class="controls">
        <input id="railElectricDistance" name="railElectricDistance" class="comma-replacement-aware"
               title="Rail Electrical km" type="text" value="{{railelectric}}">
    </div>
</div>