<div class="control-group">
    <label for="bargeDieselDistance" class="control-label">Barge km</label>

    <div class="controls">
        {{#if isBarge }}
        <input id="bargeDieselDistance" name="bargeDieselDistance" class="comma-replacement-aware number"
               title="Barge km" type="text" value="{{barge}}">
        {{ else }}
        <input id="bargeDieselDistance" name="bargeDieselDistance" class="comma-replacement-aware number"
               title="Barge km" type="text" value="{{barge}}" readonly="readonly">
        {{/if}}
        <span class="help-inline error"></span>
    </div>
</div>

<div class="control-group">
    <label for="railDieselDistance" class="control-label">Rail Diesel km</label>

    <div class="controls">
        {{#if isRail }}
        <input id="railDieselDistance" name="railDieselDistance" class="comma-replacement-aware number"
               title="Rail Diesel km" type="text" value="{{raildiesel}}">
        {{ else }}
        <input id="railDieselDistance" name="railDieselDistance" class="comma-replacement-aware number"
               title="Rail Diesel km" type="text" value="{{raildiesel}}" readonly="readonly">
        {{/if}}
        <span class="help-inline error"></span>
    </div>
</div>

<div class="control-group">
    <label for="railElectricDistance" class="control-label">Rail Electrical km</label>

    <div class="controls">
        {{#if isRail}}
        <input id="railElectricDistance" name="railElectricDistance" class="comma-replacement-aware number"
               title="Rail Electrical km" type="text" value="{{railelectric}}">
        {{ else }}
        <input id="railElectricDistance" name="railElectricDistance" class="comma-replacement-aware number"
               title="Rail Electrical km" type="text" value="{{railelectric}}" readonly="readonly">
        {{/if}}
        <span class="help-inline error"></span>
    </div>
</div>

{{#if isDtruckAvailable}}
<div class="control-group">
    <label for="roadDistance" class="control-label">Road km</label>

    <div class="controls">
        {{#if isDtruck}}
        <input id="roadDistance" name="roadDistance" class="comma-replacement-aware number"
               title="Road km" type="text" value="{{road}}">
        {{ else }}
        <input id="roadDistance" name="roadDistance" class="comma-replacement-aware number"
               title="Road km" type="text" value="{{road}}" readonly="readonly">
        {{/if}}
        <span class="help-inline error"></span>
    </div>
</div>
{{/if}}