body {
    background-color: #FFFFFF !important;
    font: 12px/18px Arial, Helvetica, sans-serif !important;
    min-width: 1033px;
}

.header {
    background: transparent none no-repeat !important;
    box-shadow: none !important;
    margin: 0;
    padding: 0;
}

.header-line {
    height: 6px;
    border-top: 6px solid #00305d;
    background-color: #B1B2B3;
    margin-top: 90px;
}

.header-page-title {
    margin-bottom: 50px;
}

.header-title {
    font-size: 70px;
    margin-right: 20px;
    margin-top: 50px;
}

.header-title-first-letters {
    color: #00305d;
}

.header-title-last-letters {
    color: #B1B2B3;
}

/* Content */
div.content {
    background-color: #EEEEEE;
    margin-bottom: 10px;
    padding: 5px;
}

div.content h2 {
    margin-bottom: 15px;
}

.content-title {
    background-color: #DDDDDD;
    margin-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.content-title h2 {
    display: inline;
    font-size: 18px;
    font-style: normal;
    line-height: 35px;
}

.content-title h3 {
    display: inline;
    font-size: 15px;
    font-style: normal;
    line-height: 35px;
}

.content-title h4 {
    display: inline;
    font-size: 12px;
    font-style: normal;
    line-height: 35px;
    padding-right: 5px;
}

.horizontal-nav > .content-title {
    overflow: hidden;
}

.horizontal-nav > .content-title > h2 {
    float: left;
}

.horizontal-nav > .content-title > ul {
    padding-top: 0;
    float: left;
    padding-left: 112px;
}

.horizontal-nav > .content-title > ul.nav-pills > li {
    padding-top: 3px;
}

.horizontal-nav > .content-title > ul.nav-pills > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.accordion-content-title {
    margin-bottom: 0 !important;
    background-color: #DDDDDD;
    cursor: pointer;
}

.accordion-content-title:hover {
    background-color: #B1B2B3;
}

.accordion-content-title > h4 {
    font-weight: normal;
}

.accordion-group {
    border: medium none;
}

.accordion-heading {
    background: #00305d no-repeat;
}

.accordion-heading {
    border: 1px solid #00305d;
    margin-bottom: 0;
}

.accordion-heading a {
    color: white;
    padding-left: 18px !important;
    text-decoration: none;
}

.accordion-heading a:hover {
    color: white;
    text-decoration: none;
}

a.accordion-heading-open {
    background: url("../../images/up_black.png") no-repeat center;
}

.accordion-inner {
    background-color: #DDDDDD;
    border-image: none;
    border: 1px solid #00305d;
}

.selectParentAddress {
    cursor: pointer;
}

.item-select {
    cursor: pointer;
}

/* Buttons */
.back-button-link {
    background: #DDDDDD url("../../images/back.png") 0 35px;
    display: block;
    float: left;
    height: 35px;
    margin-right: 10px;
    width: 60px;
}

.collapsable-indicator {
    background: url("../../images/down_black.png") no-repeat center;
    border-right: 1px solid white;
    display: block;
    float: left;
    height: 35px;
    margin-right: 10px;
    width: 38px;
}

.collapsable-indicator.notclickable {
    background-image: none;
    cursor: default;
}

.back-button-link:hover {
    background-position: 0 0;
}

.btn {
    text-shadow: none;
    background-color: #F7F7F7;
}

.btn:hover {
    text-shadow: none;
    opacity: 0.8 !important;
}

.btn.disabled {
    opacity: 0.5 !important;
}

.btn-primary {
    background: #00305d none !important;
}

.btn-create-top {
    margin-top: 5px;
}

.btn-create-bottom {
    margin-bottom: 5px;
}

.btn-danger {
    background-color: red !important;
}

/* Form */
.form-horizontal {
    padding-top: 25px;
}

.form-actions {
    background-color: transparent;
    border: medium none;
}

.error {
    color: #B94A48 !important;
}

input.error {
    border-color: #B94A48 !important;
    color: #B94A48;
}

input.error:focus {
    border-color: #B94A48 !important;
    box-shadow: 0 0 6px #D59392;
    color: #B94A48;
}

span.error {
    color: #B94A48 !important;
}

/* Tables */
.iris-table {
    margin-bottom: 0;
}

.iris-table th {
    background-color: #00305d;
    border: 1px solid white;
    color: #FFFFFF;
    text-align: center;
}

.iris-table th a {
    color: #FFFFFF;
    text-decoration: none;
}

.iris-table th a:hover {
    color: #FFFFFF;
}

.iris-table tr:hover {
    background-color: #B1B2B3 !important;
}

.iris-table td a {
    color: #00305d !important;
}

.iris-table td a:hover {
    color: #00305d !important;
    text-decoration: none;
}

.iris-table td {
    border: 1px solid white;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

.iris-table td form {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

.iris-table td a.btn, .iris-table th a.btn {
    color: #FFFFFF !important;
}

.iris-table td.table-buttons {
    text-align: center;
}

.iris-table tr:nth-of-type(n+1) {
    background-color: #D9D9D9;
}

.iris-table tr:nth-of-type(2n+1) {
    background-color: #EBEBEB;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: transparent;
}

.triangleTableTotals {
    border-top: 2px solid black !important;
}

.geocoding-results {
    height: 377px;
    overflow: auto;
}

/*Navigation*/
.nav {
    margin: 0;
    padding-top: 10px;
}

.nav li:first-child {
    padding-left: 0;
}

.nav li {
    float: left;
    padding-left: 20px;
}

.header .dropdown-menu {
    min-width: 0;
}

.header .nav > li > a {
    color: #00305d;
    text-shadow: none;
}

.header .nav > li > a:hover {
    background-color: transparent;
    color: #B1B2B3;
}

.dropdown-menu li {
    background-color: #00305d;
    color: white;
    width: 100%;
    cursor: pointer;
}

.dropdown-menu li.nav-header {
    padding-left: 5px;
    text-align: left;
}

.dropdown-menu li a {
    background-color: white !important;
    color: #00305d !important;
    text-align: left;
}

.dropdown-menu li a:hover {
    color: #B1B2B3 !important;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover {
    background-color: white !important;
    color: #B1B2B3 !important;
}

.iris-nav-links {
    padding-top: 0 !important;
}

.iris-nav-links li {
    background-color: transparent !important;
}

.iris-nav-links .dropdown li {
    padding-left: 0 !important;
}

/* Footer */
.footer {
    border-top: 6px solid #00305d;
    margin: 20px;
}

.footer-border {
    border-top: 6px solid #B1B2B3;
}

.to-top-scroller {
    background: url("../../images/top-scroller.png") no-repeat;
    height: 30px;
    margin-top: 5px;
    opacity: 0.6;
    position: absolute;
    width: 30px;
    z-index: 2;
}

/* Management */
.management-button-top {
    margin-bottom: 50px;
}

.management-button-bottom {
    margin-top: 50px;
}

/* Messages */
.message {
    font-size: 15px;
    line-height: 35px;
    margin-bottom: 1px;
    text-align: center;
}

.message-error {
    background-color: #FCE2E4;
    border: 3px solid red;
    color: red !important;
}

.message-success {
    background-color: #DFFFDF;
    border: 3px solid #B1B2B3;
    color: #B1B2B3 !important;
}

.message-width {
    width: -moz-calc(100% - 6px);
    width: -webkit-calc(100% - 6px);
    width: calc(100% - 6px);
}

.terminals {
    margin-bottom: 5px;
}

.gap {
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 5px;
}

.country-container .btn-group:before {
    display: inline;
}

.country-container, .country-container .btn-group {
    display: inline-block;
    vertical-align: middle;
}

.underlined {
    text-decoration: underline;
}

.icon-red {
    background-image: url("../img/glyphicons-halflings-red.png");
}

.unsupported-browser {
    margin-bottom: 40px;
    display: inline-block;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.float-left {
    float: left;
}

.subconnection-header-normal {
    width: 210px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.subconnection-header-small {
    width: 90px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    text-align: center;
}

.subconnection-header-normal:first-child {
    margin-right: 7px;
}


#internal_server_error {
    background: none repeat scroll 0 0 #FFEEEE;
    border: 1px solid #990000;
    color: red;
    padding: 10px;
}