<div class="accordion-group">
    <div class="accordion-heading">
        <a class="collapsable-indicator clickable" href="#collapse{{cid}}"
           data-toggle="collapse" {{#if moreThanOne}}title="Expand for {{more}} suburbs" {{/if}}></a>

        <div class="content-title accordion-content-title">
            <h4>
                {{parentAddress.address.postcode}}
                {{parentAddress.displayName}}
                {{#if moreThanOne}}
                <strong>
                    [click for {{more}} suburbs]
                </strong>
                {{/if}}
            </h4>
        </div>

    </div>
    <div id="collapse{{cid}}" class="row-fluid accordion-body collapse collapsableindicator">
        <div class="accordion-inner">
            <table class="table iris-table">
                <tbody class="address_table"></tbody>
            </table>
        </div>
    </div>
</div>
