<div class="triangle row-fluid">
    <div class="span5">
        <div class="content-title">
            <h2>Seaports and Terminals</h2>
        </div>
        <div class="content" style="min-height: 5em;">
            <form class="form-horizontal" style="padding-top: 0px;">

                <p class="gap">Select a Terminal or Seaport and add it to the Route</p>
                <div class="terminals">

                </div>
                <div class="seaports">

                </div>
            </form>
        </div>
        <div class="geocoding"></div>
    </div>
    
    <div class="span7">
        <div class="content-title">
            <h2>Multistop Routing</h2>
        </div>
        <div class="content points"></div>
    </div>
</div>